<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
    }
</style>

<ul>
    <li><a href="/"><b>Home Page</b></a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orders">Orders</a></li>
</ul>
